<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>
<body>
<h1>게시글 작성</h1>
<form th:action="@{'/boards/' + ${board.id} + '/posts'}" method="post">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="content">내용:</label>
    <textarea id="content" name="content" required></textarea><br>

    <button type="submit">게시글 작성</button>
</form>
</body>
</html>
